html, body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(../res/sunset-beach.jpg);
  background-size: auto;
}

nav {
  background-color: #7F96A8;
  width: 100%;
  height: 4.5vmax;
}

.navBut {
  margin-top: 1.5vmax;
}

button:hover {
  background-color: white;
  color: #7F96A8;
}

#box {
  background: rgba(0, 0, 0, 0.7);
  width: 80%;
  padding: 15px;
	border-radius: 10px;
	margin: 20px auto;
}

.sign-up {
  color: white;
}

#goToSignupPage {
  margin-top: 20px;
}

button {
  color: white;
  border: 1px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80%;
  background: rgba(0, 0, 0, 0);
	border-radius: 10px;
}

#goToAddFav {
	margin: auto;
}

label {
  color: white;
  margin-left: 10%;
}

#newFav {
	border: 1px solid white;
	background-color: rgba(0, 0, 0, 0);
	padding: 10px;
	width: 80%;
	color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.formpart {
	text-align: left;
}

#fileUpload {
	color: white;

}

h1 {
	text-align: center;
	color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    font-size: 1.2vmax;
    display: block;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
}

li:hover {
    background-color: #2a2a2a;
}

#menu {
    font-size: 1.5vmax;
    background-color: black;
}

#title {
  float: left;
  color: white;
  padding: 20px;
}
<<<<<<< HEAD
=======

#description {
	background: rgba(0,0,0,0);
	color: white;
	border: 0px;
	border-bottom: 1px solid #FFFFFF;
	padding: 10px;
	width: 45%;
}
>>>>>>> 68e61dcbe256f967d257502c9997ab0a669b78d9
