html, body {
  font-family: "montserrat", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #6666ff;
}

.resources {
  background-image: url(res/happy.jpg);
  background-size: cover;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

#imgToChange {
  height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centered {
    font-weight: 600;
    font-size: 3.5vmax;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title {
  float: left;
  color: white;
  padding: 20px;
}

#title:hover {
  background-color: black;
}

.underline {
  text-align: center;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-bottom: 1px solid black;
}

#first {
  margin-top: 50px;
}

.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

.header li {
    float: right;
}

.header li a {
    font-size: 1.2vmax;
    display: block;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
}

.header li:hover {
    background-color: #2a2a2a;
}

#menu {
    font-size: 1.5vmax;
    background-color: black;
}

.button {
  font-weight: 400;
  font-size: 1.5vmax;
  position: absolute;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
  color: white;
  border: 1px solid white;
  padding: 10px 30px;
  background: rgba(0, 0, 0, 0);
}

.button:hover {
  color: black;
  border: 1px solid white;
  background-color: white;
}

#right {
  position: absolute;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
}

.button:focus {
  outline: none;
}

#left {
  position: absolute;
  top: 90%;
  left: 10%;
  transform: translate(-50%, -50%);
}
