html, body {
  font-family: "montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  background-color: #7F96A8;
  width: 100%;
  height: 4.5vmax;
}

.navBut {
  margin-top: 1.5vmax;
}

#title {
  font-weight: 600;
  font-size: 2vmax;
  font-family: 'Cedarville Cursive', cursive;
}

#loginPageBut {
  float: right;
  margin-right: 10px;
}

#loginPageBut a {
  padding: 7px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  border: solid 1px white;
}

#loginPageBut a:hover {
  background-color: white;
  color: #7F96A8;
}
